$base-width: 1200px
$font-family: "Microsoft JhengHei"
$font-family-eng: "Charlemagne Std"
$line-height: 30px
$font-size: 20px
/**
 * base color
 */
$black: #000
$white: #fff
$c-background: #c2c2c2
$c-background-2: #ededed
$c-labelBackground: rgba(#000, 0.8)
$c-grey: #6e6e6e
$c-dark-grey: darken($c-grey, 20%)
$c-menu: #2e6eb0