doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8' )
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property="og:url" content="http://chuangyuming.github.io/WeiC/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="WeiC中正大學技術分享會")
    meta(name="og:description" content="有鑑於中正的學生不容易參加技術社群活動，希望透過畢業學長姊回到母校做技術分享，來提升中正學生的視野以及學習風氣。")
    meta(property="og:image" content="http://chuangyuming.github.io/WeiC/assets/images/icon.png")
    meta(property="fb:admins" content="100001564052214")
    meta(property="fb:app_id", content="1546177692293370")
    title WeiC中正大學技術分享會
    link(rel='stylesheet' href='./css/all.css')
    link(rel="stylesheet" href="./assets/library/font-awesome-4.2.0/css/font-awesome.min.css")
    script(src='./assets/library/queryloader2.js')
    script.
      window.addEventListener('DOMContentLoaded', function() {
        new QueryLoader2(document.querySelector("body"), {
            barColor: "#efefef",
            backgroundColor: "#111",
            percentage: true,
            barHeight: 1,
            minimumTime: 200,
            fadeOutTime: 1000
          });
      });
  body
    section#intro1
      .intro-wrap.bg1
        .header
          .logo
          .menu
            a(href='#intro2' data-target='intro2')
              span.item 執行摘要
            a(href='#intro3' data-target='intro3')
              span.item 活動流程
            a(href='#intro4' data-target='intro4')
              span.item 講者資訊
            a(href='#intro5' data-target='intro5')
              span.item 我要報名
            a(href='#intro6' data-target='intro6')
              span.item 其他資訊
    section#intro2
      .intro-wrap.bg2
        .program
          img(src='./assets/images/program.png' width='550' height='380')
        .summary
          h3 執行摘要
          p
            | 有鑑於中正的學生不容易參加技術社群活動，希望透過畢業學長姊回到母校做技術分享，來提升中正學生的視野以及學習風氣。
          br
          p
            | 目標參予人數: 50人以上 <br>期許有效的提升大家對於網頁開發的興趣，並且這樣的技術活動可以一直延續下去!!
    section#intro3
      .intro-wrap.bg3
        .process
          h3 活動流程
          img.table(src='./assets/images/table.png' width='1200' height='390')

    section#intro4
      .intro-wrap
        .subtitle
          h3.ch 講者資訊
          br
          h3.eng SPEAKERS INFO
        .speakers 
          img(src='./assets/images/people1.jpg' data-people='p1' width='300' height='240')
          img(src='./assets/images/people2.jpg' data-people='p2' width='300' height='240')
          img(src='./assets/images/people3.jpg' data-people='p3' width='300' height='240')
          img(src='./assets/images/people4.jpg' data-people='p4' width='300' height='240')
        .speaker-info
          #p1.people
            span 莊育銘
            br
            br
            | 中正大學資管系<br>擁有專案、程式設計經驗
          #p2.people
            span 林彥宇
            br
            br
            | 中正大學資管系<br>擁有專案、程式設計經驗
          #p3.people
            span 蕭奕凱
            br
            br
            | 中正大學資管系<br>擁有專案、程式設計經驗
          #p4.people
            span 何欣峰
            br
            br
            | 中正大學資管系<br>擁有專案、程式設計經驗
    section#intro5
      .intro-wrap.bg5
        .sign-up
          .active-info
            span 時間: 12/13
            span 價錢: $Free
            br
            span 地點: 中正大學活動中心136階梯教室
          a.link-wrap(href='http://weic.kktix.cc/events/weic2014' target='_blank')
            .link-btn
              i.fa.fa-arrow-circle-o-right
              span 我要報名

    section#intro6
      .intro-wrap 
        .scrollTop
          img.arrow-up(src='./assets/images/arrow.png')
        .subtitle
          h3.ch.bb 其他資訊
        .info.left
          span
            | 主辦人: 洪名辰、莊育銘、劉峻豪<br>
            | 協辦單位: 中正資管系辦<br>
          span 贊助商: 
          a(href='http://goodlife.tw/' target='_blank')
            img(src='./assets//images/logo-Goodlife.png' width='200' height='60')
        .info.tac
          i.fa.fa-phone.fa-2x
          br
          span
            | 0933299858
        .info.tac
          i.fa.fa-envelope.fa-2x
          br
          span
            | s6323859@gmail.com
    section#intro7
      .intro-wrap.bg7
        P 
          | Copyright(C) BuDin All rights reserved
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src='./assets/library/jquery-backstretch.js')
    script.
      $(document).ready(function () {
        // You may also attach Backstretch to a block-level element
        if(document.body.clientWidth < 1200){
          $(".bg1").backstretch("./assets/images/banner1.jpg");
          $(".bg5").backstretch("./assets/images/banner2.jpg");
        }
        else{
          $("#intro1").backstretch("./assets/images/banner1.jpg");
          $("#intro5").backstretch("./assets/images/banner2.jpg");
        }
        
        $(".scrollTop").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });        

       
        $('.menu a').click(function (event) {
            event.stopPropagation();                
            var idTo = $(this).data('target');                
            var Position = $('#'+idTo).offset().top;
            console.log(Position);
            $('html, body').animate({ scrollTop: Position }, 'slow');
            return false;
        });
        
        $('.people').hover(function(){
            $(this).addClass('show-people');
          },function(){
            $(this).removeClass('show-people');
          })

      });
      